@media (max-width: 600px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
    }

    header nav ul {
        padding-top: 17px;
    }


    .header-title {
        margin-top: 100px;
        padding-top: 0px;
    }

    .header-title h1 {
        font-size: 37px;
    }

    .choose-us ul {
        display: flex;
        flex-direction: column;
    }

    .choose-us ul li p {
        max-width: 436px;
        margin-left: 70px;
    }

    .team-description-wrapper ul li img{
        width: 155px;
        height: 182px;
    }

    .team-description-wrapper ul {
        display: flex;
        justify-content: center;
        gap: 75px;
    }
}