@import url(header-needaweb.css);
@import url(footer.css);
@import url(team.css);
@import url(typoghrapy.css);
@import url(background.css);
@import url(intro-style.css);
@import url(reset.css);
@import url(site-title.css);
@import url(subscribe-title.css);

.sait{
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    * {
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    * {
        font-size: 20px;
    }
}

@media (min-width: 1300px) {
    * {
        font-size: 24px;
    }
}

@media (min-width: 1800px) {
    * {
        font-size: 28px;
    }
}